<h1>
  Angular Components 101
</h1>

<div>
  <app-progress-bar [progress]="counterProgress"></app-progress-bar>

  <app-countdown
    #countdown
    [init]="totalCounter"
    (onDecrease)="updateProgress($event)"
    (onComplete)="countdownFinished()"
  ></app-countdown>

  <div class="initInput">
    <label for="totalCountdown">Init on : </label>
    <input type="text" id="totalCountdown" [(ngModel)]="totalCounter" />
  </div>

  <button (click)="countdown.startCountdown(); counterProgress = 0">
    RESTART
  </button>
</div>
